<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ELDP Agile Simulation Game Plan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="round-number">
                <h1>Round {{ current_round }}</h1>
            </div>
        </div>
    </header>

    <div class="plan-container">
        <div class="plan-heading">
            <h2>Plan</h2>
        </div>

        <form action="/timer" method="POST" id="plan-form">
            <div class="plan-input">
                <input type="number" name="plan_value" id="plan" placeholder="Enter your Plan" required>
            </div>
            <div class="start-round-button-container">
                <button type="submit">Start Round</button>
            </div>
        </form>
    </div>

    <footer>
        <img src="https://images.squarespace-cdn.com/content/v1/5d39c2fb4c1e5c0001790e6a/1571947140718-NPG89HWJFF5PM2B3WHU5/PSU_COE_Logo.png?format=1500w" alt="PennState College of Engineering">
    </footer>

    <script>
        document.getElementById("plan-form").addEventListener("submit", () => {
            const planValue = document.getElementById("plan").value;
            if (planValue) {
                localStorage.setItem("lastPlan", planValue); // Store the plan value
            }
        });
    </script>
</body>
</html>
